mixin blocks(headingText)
  .block&attributes(attributes)
    h2.heading!= headingText
    if block
      block

mixin price(newPrice, oldPrice)
  p.price&attributes(attributes)
    ins.price__current!=newPrice
    if oldPrice
      del.price__old!=oldPrice

mixin pagination()
  .pagination&attributes(attributes)
    ul.pagination__inner
      li: +link('Previous', 'javascript:;') #[i.icon-arrow-left]
      li: +link('1', 'javascript:;') 1
      li: +link('2', 'javascript:;') 2
      li.active: +link('3', 'javascript:;') 3
      li: +link('4', 'javascript:;') 4
      li: +link('5', 'javascript:;') 5
      li: +link('Next', 'javascript:;') #[i.icon-arrow-right]

mixin divider(text, spanClass)
  .divider&attributes(attributes)
    span(class!=spanClass)!=text

mixin goback()
  a.goback.hidden-md-up(href="javascript:;" onclick="window.history.back()" title="Trang trước")&attributes(attributes)
    i.icon-arrow-prev

//- Used in Style Guide page.
mixin color(name, code)
  li(data-handler="")
    span.color(style="background-color: " + code)
    code(data-copy!=name)!=code
    span!=name

mixin icons(classes)
  ul.icons-list-temp
    each classname in classes
      li(data-handler="")
        i(class='icon-' + classname, data-copy="i.icon-" + classname)
        span.name!=classname
    if block
      block

mixin product(type, slideitem)
  if slideitem
    -imgcls = 'img-view'

  -imgsrc = 'images/upload/product-1.png'
  if type == "two-price-cart"
    -imgsrc = 'https://picsum.photos/140/170'

  .product&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src!=imgsrc, alt="Hunty Product Name" class!=imgcls)
      if type == "two-price-cart"
        span.product__quickadd.hidden-md-up: i.icon-shopping-cart
    .content
      if type == "progress"
        .product__progress
          span.product__percent(style="width: 50%")
          b.product__text Đã bán 90
        span.product__deal -30%
        +price('575.000 đ').text-center
      else if type == "one-price"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        span.product__deal -30%
        +price('575.000 đ')
      else if type == "two-price"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        +price('575.000 đ', '(1.000.000)')
        span.product__deal -30%
        p.product__rate
          i.icon-star
          span.product__count 4.9
      else if type == "two-price-cart"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        +price('575.000 đ', '(1.000.000)')
        span.product__deal.hidden-sm-down -30%
        p.product__rate
          i.icon-star
          span.product__count 4.9

mixin promotion(slideitem)
  if slideitem
    -imgcls = 'img-view'
  .promotion
    .promotion__thumb
      a(href="promotion.html"): img(src="https://picsum.photos/500/250?grayscale" alt="Shop name" class!=imgcls)
      .promotion__shop
        span.promotion__avt
          a(href="promotion.html"): img(src="images/upload/shop.png" alt="Shop name")
        span.promotion__shopname: a(href="promotion.html") Lorem ipsum
    p.promotion__title: a(href="promotion.html") Lorem ipsum dolor sit
    p.promotion__location
      i.icon-location
      span 1.3km from you

mixin cartItem()
  .cart__item&attributes(attributes)
    +button({name: "removeItem"}).remove
      i.icon-close-outline
    .thumb
      a(href="product.html")
        img(src="https://picsum.photos/140/170", alt="Hunty Product Name")
    .content
      h3.cart__name
        a(href="product.html") Lorem ipsum dolor sit amet
      .cart__price
        +price('575.000 đ', '(1.000.000)')
        .custom-number(data-number='{"handle": "qty", "maxLength": 2}')
          +button({})(data-decrease="")
            i.icon-minus
          +input({name: 'quantity', value: '1', type: 'number'})(data-input="" autocomplete="off" readonly)
          +button({})(data-increase="")
            i.icon-plus

mixin cartItem1()
  .cart__item&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src="https://picsum.photos/140/170", alt="Hunty Product Name")
    .content
      h3.cart__name
        a(href="product.html") Lorem ipsum dolor sit amet
      +price('575.000 đ', '(1.000.000)')
      span.cart__qty Quantity 1

mixin category()
  .category&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src="https://picsum.photos/140/170", alt="Hunty Product Name")
    .content
      h3.cat_name
        a(href="search.html") T-Shirt

mixin notification()
  .notification__list
    h3 TODAY
    ul
      li: strong 30 minutes ago
      li
        span.text Lorem ipsum dolor sit amet 
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li: strong 1h ago
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
    h3 YESTERDAY
    ul
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15