mixin blocks(headingText)
  .block&attributes(attributes)
    h2.heading!= headingText
    if block
      block

mixin price(newPrice, oldPrice)
  p.price&attributes(attributes)
    ins.price__current!=newPrice
    if oldPrice
      del.price__old!=oldPrice

mixin pagination()
  .pagination&attributes(attributes)
    ul.pagination__inner
      li: +link('Previous', 'javascript:;') #[i.icon-arrow-left]
      li: +link('1', 'javascript:;') 1
      li: +link('2', 'javascript:;') 2
      li.active: +link('3', 'javascript:;') 3
      li: +link('4', 'javascript:;') 4
      li: +link('5', 'javascript:;') 5
      li: +link('Next', 'javascript:;') #[i.icon-arrow-right]

mixin divider(text, spanClass)
  .divider&attributes(attributes)
    span(class!=spanClass)!=text

mixin goback()
  a.goback.hidden-md-up(href="javascript:;" onclick="window.history.back()" title="Trang trước")
    i.icon-arrow-prev

//- Used in Style Guide page.
mixin color(name, code)
  li(data-handler="")
    span.color(style="background-color: " + code)
    code(data-copy!=name)!=code
    span!=name

mixin icons(classes)
  ul.icons-list-temp
    each classname in classes
      li(data-handler="")
        i(class='icon-' + classname, data-copy="i.icon-" + classname)
        //span.name!=classname
    if block
      block

mixin product(type, slideitem)
  if slideitem
    -imgcls = 'img-view'
  .product
    .product__thumb
      +img-upload("product-1.png", "Product name")(class!=imgcls)
    if type == "progress"
      .product__progress
        span.product__percent(style="width: 50%")
        b.product__text Đã bán 90
      span.product__deal -30%
      +price('575.000 đ').text-center
    else if type == "one-price"
      p.product__name
        | Lorem ipsum dolor sit amet
      span.product__deal -30%
      +price('575.000 đ')
    else
      p.product__name
        | Lorem ipsum dolor sit amet
      +price('575.000 đ', '(1.000.000)')
      span.product__deal -30%
      p.product__rate
        i.icon-star
        span.product__count 4.9

mixin promotion()
  .promotion
    .promotion__thumb
      img(src="https://picsum.photos/300/180?grayscale" alt="Shop name")
      .promotion__shop
        span.promotion__avt
          img(src="https://picsum.photos/45/45" alt="Shop name")
        span.promotion__shopname Lorem ipsum
    p.promotion__title Lorem ipsum dolor sit
    p.promotion__location
      i.icon-location
      span 1.3km from you

