mixin blocks(headingText)
  .block&attributes(attributes)
    h2.heading!= headingText
    if block
      block

mixin price(newPrice, oldPrice)
  p.price&attributes(attributes)
    ins.price__current!=newPrice
    if oldPrice
      del.price__old!=oldPrice

mixin pagination()
  .pagination&attributes(attributes)
    ul.pagination__inner
      li: +link('Previous', 'javascript:;') #[i.icon-arrow-left]
      li: +link('1', 'javascript:;') 1
      li: +link('2', 'javascript:;') 2
      li.active: +link('3', 'javascript:;') 3
      li: +link('4', 'javascript:;') 4
      li: +link('5', 'javascript:;') 5
      li: +link('Next', 'javascript:;') #[i.icon-arrow-right]

mixin divider(text, spanClass)
  .divider&attributes(attributes)
    span(class!=spanClass)!=text

mixin goback()
  a.goback.hidden-md-up(href="javascript:;" onclick="window.history.back()" title="Trang trước")&attributes(attributes)
    i.icon-arrow-prev

//- Used in Style Guide page.
mixin color(name, code)
  li(data-handler="")
    span.color(style="background-color: " + code)
    code(data-copy!=name)!=code
    span!=name

mixin icons(classes)
  ul.icons-list-temp
    each classname in classes
      li(data-handler="")
        i(class='icon-' + classname, data-copy="i.icon-" + classname)
        span.name!=classname
    if block
      block

mixin product(type, slideitem)
  if slideitem
    -imgcls = 'img-view'

  -imgsrc = 'images/upload/product-1.png'
  if type == "two-price-cart" || type == "two-price-cart-unsale"
    -imgsrc = 'images/upload/img-140-170.jpeg'

  .product&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src!=imgsrc, alt="Hunty Product Name" class!=imgcls)
        if type == "two-price-cart"
          span.product__quickadd.hidden-md-up
            i.icon-shopping-cart
        if type == "two-price-cart-unsale"
          span.product__quickadd.hidden-md-up
            i.icon-hunty-feed #[span.path1]#[span.path2]
    .content
      if type == "progress"
        .product__progress
          span.product__percent(style="width: 50%")
          b.product__text Đã bán 90
        span.product__deal -30%
        +price('575.000 đ').text-center
      else if type == "one-price"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        span.product__deal -30%
        +price('575.000 đ')
      else if type == "two-price"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        +price('575.000 đ', '(1.000.000)')
        span.product__deal -30%
        p.product__rate
          i.icon-star
          span.product__count 4.9
      else if type == "two-price-cart" || type == "two-price-cart-unsale"
        p.product__name
          a(href="product.html") Lorem ipsum dolor sit amet
        +price('575.000 đ', '(1.000.000)')
        span.product__deal.hidden-sm-down -30%
        p.product__rate
          i.icon-star
          span.product__count 4.9

mixin promotion(slideitem)
  if slideitem
    -imgcls = 'img-view'
  .promotion
    .promotion__thumb
      a(href="promotion.html"): img(src="images/upload/promotion_banner.jpeg" alt="Shop name" class!=imgcls)
      .promotion__shop
        span.promotion__avt
          a(href="promotion.html"): img(src="images/upload/shop.png" alt="Shop name")
        span.promotion__shopname: a(href="promotion.html") Lorem ipsum
    p.promotion__title: a(href="promotion.html") Lorem ipsum dolor sit
    p.promotion__location
      i.icon-location
      span 1.3km from you

mixin cartItem(index)
  .cart__item&attributes(attributes)
    +button({name: "removeItem"}).remove
      i.icon-close-outline
    .thumb
      a(href="product.html")
        img(src="images/upload/img-140-170.jpeg", alt="Hunty Product Name")
    .content
      h3.cart__name
        a(href="product.html") Lorem ipsum dolor sit amet
      .cart__price
        +price('575.000 đ', '(1.000.000)')
        .custom-number(data-number='{"handle": "qty' + index + '", "maxLength": 2}')
          +button({})(data-decrease="")
            i.icon-minus
          +input({name: 'quantity', value: '1', type: 'number'})(data-input="" autocomplete="off" readonly)
          +button({})(data-increase="")
            i.icon-plus

mixin cartItem1()
  .cart__item&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src="images/upload/img-140-170.jpeg", alt="Hunty Product Name")
    .content
      h3.cart__name
        a(href="product.html") Lorem ipsum dolor sit amet
      +price('575.000 đ', '(1.000.000)')
      span.cart__qty Quantity 1

mixin category()
  .category&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src="images/upload/img-140-170.jpeg", alt="Hunty Product Name")
    .content
      h3.cat_name
        a(href="search.html") T-Shirt

mixin searchResult()
  .searchResults__item&attributes(attributes)
    .thumb
      a(href="product.html")
        img(src="images/upload/img-140-170.jpeg", alt="Hunty Product Name")
    .content
      h3.name
        a(href="search.html") T-Shirt

mixin notification()
  .notification__list
    h3 TODAY
    ul
      li: strong 30 minutes ago
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li: strong 1h ago
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
    h3 YESTERDAY
    ul
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15
      li
        span.text Lorem ipsum dolor sit amet
        span.time 7:15

mixin shopInfo(type)
  .shop-info
    .shop-info__logo
      .thumb
        img(src="images/upload/img-100-100.jpeg", alt="")
      .desc
        .inner
          h3.wrap-title Routine
          p.shop-info__rating
            i.icon-star
            | 4.9 #[span(style="color: #8B929F;") (3.666 rating)]
        if type != 'no-button'
          .button_inner
            if type == 'shop'
              +link("Follow Shop", "javascript:;").button.hollow#followShop
                i.icon-heart
                span Follow Shop
              +link("Chat Shop", "javascript:;").button.hollow#chatToShop
                i.icon-message
                span Chat to Shop
            else
              +link("Follow Shop", "javascript:;").button.hollow#followShop
                i.icon-heart
                span Follow Shop
              +link("View Shop", "shop.html").button.hollow
                i.icon-shop
                span View Shop
    ul.shop-info__list
      li
        i.icon-follow
        span Follower: #[strong(style="color: #2C2E32;") 12.000]
      li
        i.icon-t-shirt
        span Products: #[strong(style="color: #2C2E32;") 12.000]
      li
        i.icon-message
        span Response Rate: #[strong(style="color: #2C2E32;") 99%]
    .shop-info__location
      h3.wrap-title
        i.icon-location
        span(style="color: #8B929F;") Location
      p 123 Nguyen Thi Minh Khai, ward 2, Dist.3 HCM
      p
        +link('Title', '#') View All Location
