.product-slide
    .gallery
        // Main Slider
        .slider.thumb-slider(data-cslider='{"type": "syncing", "navFor": ".slider-nav", "view": "true", "hasPopup": true, "hasZoom": true, "smoothZoom": true}')
            .slick.slider-thumb
                .item(data-zoom-id="zoom1"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg").img-view.zoomer
                .item(data-zoom-id="zoom2"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg").img-view.zoomer
                .item(data-zoom-id="zoom3"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg").img-view.zoomer
                .item(data-zoom-id="zoom4"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg").img-view.zoomer
                .item(data-zoom-id="zoom5"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg").img-view.zoomer
                .item(data-zoom-id="zoom5"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg").img-view.zoomer
                .item(data-zoom-id="zoom1"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg").img-view.zoomer
                .item(data-zoom-id="zoom2"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg").img-view.zoomer
                .item(data-zoom-id="zoom3"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg").img-view.zoomer
                .item(data-zoom-id="zoom4"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg").img-view.zoomer
                .item(data-zoom-id="zoom5"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg").img-view.zoomer
                .item(data-zoom-id="zoom5"): img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg"
                    data-zoom-image="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg").img-view.zoomer
            span.load
            .pinchZoomWrap(data-pinchzoom='{"initUnder": 767}')
                .pinchZoomInner
                    i.icon-close-solid(data-closezoom="")
                    div(data-handle="")

        // Nav slider
        .slider.nav-slider(data-cslider='{"type": "syncing", "navFor": ".slider-thumb"}')
            .slick.slider-nav
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/anh-nen-hotgirl-full-hd_125434125.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-full-hd-hotgirl_125434562.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-gai-xinh-4k_125434812.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-ben-xe-the-thao_125435797.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-danh-cho-may-tinh_125437406.jpg").img-view
                .item: img(src="https://img3.thuthuatphanmem.vn/uploads/2019/06/08/hinh-nen-hotgirl-goi-cam_125438953.jpg").img-view
            span.load
